@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  box-shadow: 0 2px rgb(14 165 233 / var(--tw-text-opacity));
}

/* .active {
  transition: box-shadow 0.3s ease;
}

.shadow-slide {
  box-shadow: 0 2px rgba(14, 165, 233, 0.4);
}

.shadow-slide:not(.active) {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.highlight {
  color: rgb(14 165 233 / var(--tw-text-opacity));
} */

.loading-icon {
  width: 200px;
  height: 200px;
  animation-duration: 2s;
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.nav-background {
  background: rgba(15, 23, 42, 0.75);
}

@keyframes grow {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 0.9;
  }
}
