@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  box-shadow: 0 2px rgb(14 165 233 / var(--tw-text-opacity));
}
.highlight {
  color: rgb(14 165 233 / var(--tw-text-opacity));
}

.loading-icon{
  width: 200px;
  height: 200px;
  animation-duration: 2s;
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes grow {
  0%,100%{
    transform: scale(1);
}
50%{
    transform: scale(1.2);
    opacity: 0.9;
}
}